# Warehouse Service Environment Example
WAREHOUSE_SERVICE_PORT=5003
PORT=5003 # fallback when WAREHOUSE_SERVICE_PORT is not provided
MONGO_URI=mongodb://localhost:27017/warehouseService
INTERNAL_API_KEY=internal-service-secret-key-2025
JWT_SECRET=dba3c49726fe3c0261e154ef7417a84f89105e61ddf99b791a7fb7352e699ea2
JWT_REFRESH_SECRET=3b08e1a912350f28d39fb46492a1fda946281d6375b950983f6ab2191a15d51a
IAM_SERVICE_URL=http://localhost:3000
